services:
  - type: web
    name: ton-nft-miniapp
    env: static
    buildCommand: cd app && npm install && npm run build
    staticPublishPath: ./app/dist
    envVars:
      - key: NODE_VERSION
        value: 18
    headers:
      - path: /*
        name: X-Frame-Options
        value: ALLOWALL
      - path: /*
        name: Cache-Control
        value: public, max-age=0, must-revalidate
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
